.circle {
  width: 32px;
  height: 32px;
  background: yellow;
  border-radius: 50%;
  position: absolute;
  transform: translateX(-50%) translateY(-50%);
  mix-blend-mode: difference;
  display: none;
}

.rectangle {
  width: 70px;
  height: 32px;
  background: red;
  position: absolute;
  display: none;
} 

.square{
  height: 32px;
  width: 32px;
  background-color: green;
  position: absolute;
  display: none;
}




